.faucet-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
